body{
    font-family: "Fredoka", sans-serif;
    background-color: black;
    color: white;


.card{
    background-color: black;
}

.i class{
    background-color: aqua;
}

h1{
    margin: 100px;
}
h2{
    margin: 100px;
}

    
.footer{
    margin: 2%;
}